.point-container {
  display: flex;
  gap: 1em;

  .point {
    width: 140px;
    height: 140px;
    font-size: 112px;
    color: white;
    font-family: 'Cabin Sketch', cursive;

    display: flex;
    align-items: center;
    justify-content: center;

    &.mayo {
      background: #e0c800;
    }

    &.ketchup {
      background: #c71000;
    }
  }
}
