.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  height: 100%;

  @media (max-width: 680px) {
    & {
      flex-direction: column;
    }
  }

  a {
    transition: background-color 0.3s ease;
    border-radius: 1em;

    &:hover {
      background-color: rgb(39, 39, 39);
    }
    img {
      width: 300px;
    }
  }
}
